@font-face {
    font-family: 'MyFont';
    src: url('../font/DuctusMonoCalligraphic.ttf') format('truetype');
}

body {
    font-size: 1.1em;
    font-family: 'MyFont';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF66C4;
    margin: 0;
}

h1 {
    text-align: center;
}

input {
    width: 42em;
    max-width: 100%;
    font-family: 'MyFont';
}

input, label {
    margin: 0.4rem 0;
}

.search-container {
    width: 42em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recherche {
    padding: 0;
    margin: 1em 0;
}

.recherche a {
    color: black;
    text-decoration: underline;
    text-align: center;
}

.result-card .caption {
    margin-top: 6px;
    font-size: 0.9rem;
    text-align: center;
}

.petit{
    width: 0.5em;
}

.petitspace {
    height: 4em;
}

@media (max-width: 768px) {
    body {
        width: 85%;
        margin: 0 auto;
        align-items: center;
        padding: 1em;
    }

    h1 {
        font-size: 1.25em;
    }

    input {
        width: 100%;
    }

    .search-container {
        width: 90%;
    }
}

footer {
    background-color: #FF66C4;
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
