@font-face {
    font-family: 'MyFont';
    src: url('../font/DuctusMonoRegular.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    background-color: #FF66C4; 
    font-family: 'MyFont';
    margin: 0;
    text-align: center;
    min-height:100dvh;
    align-items: center; 
    justify-content: center;
}
h1 {
    font-size: 3.5em;
    margin: 1em;
    margin-top: 0;
    text-align: left;
}
.container {
    width: 85dvw;
}
.columns {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    box-sizing: border-box; 
    align-items: center; 
}
.column {
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
p {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    padding: 0;
    padding-right: 14em;
}
img {
    padding-left: 1em;
    width: 80%;
}
.petitspace{
    height: 3em;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 1.5em;
    }
    p {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100dvw;
    }
    .columns {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .column {
        margin: 0;
        padding: 1em;
    }
    img {
        width: 100%;
        height: auto;
        padding: 0;
    }
}

footer {
    background-color: #FF66C4; 
    color: black;
    text-align: center;
    padding : 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}