@font-face {
    font-family: 'MyFont';
    src: url('../font/DuctusMonoRegular.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    background-color: #FF66C4; 
    font-family: 'MyFont';
}
h1 {
    font-size: 3.5em;
    margin: 0.5em 0 1em 2em;
    text-align: left;
}
.petitspace {
    height: 2.5em;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left {
    margin: auto;
    padding-left: 5em;
}
.right {
    font-size: 1.2em;
    margin: 0 13em 0 2em;
    text-align: center;
}
p {
    margin: 0em;
    text-align: center;
}
footer {
    background-color: #FF66C4; 
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 1.5em;
        margin-left: 0;
    }
    p {
        font-size: 0.75em;
    }
    .columns {
        grid-template-columns: 1fr;
    }
    .left{
        margin: 0;
        padding: 1em;
        font-size: 1em;
    }
    .right {
        margin: 0;
        padding: 1em;
    }
    .petitspace {
        height: 2em;
    }
    img {
        width: 100%;
        height: auto;
    }
}
