@font-face {
    font-family: 'MyFont';
    src: url('../../font/DuctusMonoCalligraphic.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background-color: #FF66C4; 
    font-family: 'MyFont';
}
h1 {
    font-family: 'MyFont';
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: center;
}
h2 {
    font-family: 'MyFont';
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: center;
}
.columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
img {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.moyenspace {
    height: 4em;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.7em;
        margin-bottom: 1.5em;
    }
    .columns {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 0em;
    }
    .column {
        margin: 0;
        padding: 0;
    }
    .moyenspace {
        height: 1.5em;
    }
    img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}
footer {
    background-color: #FF66C4; 
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
